{% extends "learning_logs/base.html" %}

{% block header %}
  <h1>Topics</h1>
  
{% endblock header %}

{% block content %}

  <ul class="topics-ul">
    {% for topic in topics %}
      <li class="list-group-item">
          <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
      </li>
    {% empty %}
      <li class="list-group-item">No topics have been added yet.</li>
    {% endfor %}
  </ul>

	<h3><a href="{% url 'learning_logs:new_topic' %}"><span class="label label-primary">Add new topic</span></a></h3>
{% endblock content %}